[submodule "third_party/opencv-3.4.4"]
	path = third_party/opencv-3.4.4
	url = https://github.com/linkflowlab/opencv-3.4.4.git
[submodule "third_party/mingw-std-threads"]
	path = third_party/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads.git
